<section id="page-heading">
    <h1>Burgers!</h1>
</section>

<section id="add-a-burger">
    <h3>Add a Burger</h3>
    <form class="create-form">
        <div class="form-group">
            <label for="burger-name">Burger Name:</label>
            <input class="form-control" type="text" id="burger-name" name="burger-name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</section>

<section class="burgers-to-devour">
    <h2>Burgers to Devour</h2>
    {{!-- burgers = json array  --}}
    <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ol>
</section>

<section id="burgers-been-devoured">
    <h2>Burgers that have been devoured</h2>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ul>
</section>